@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
  --main-color:#292839;
  --color-dark:#1d2231;
  --text-grey: #8390A2;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
 }

.sidebar{
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  /* background-color: var(--main-color); */
  background:#292839;
  z-index: 100;
  transition: width 300ms;
}
.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}
.sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu{
  margin-top: 1rem;
}
.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}
.sidebar-menu a{
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
}
.sidebar-menu a.active{
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0 0 30px;
}
.sidebar-menu a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}
#nav-toggle:checked ~ .main-content{
  margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header{
  width: calc(100% - 70px);
  left: 70px;
}
.main-content{
  transition: margin-left 300ms;
  margin-left: 345px;
}

header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  align-items: center;
  position: fixed;
  left: 354px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}
#nav-toggle:checked + .sidebar{
  width: 70px;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li{
  padding-left: 1rem;
  text-align: center;
}
#nav-toggle:checked + .sidebar li a{
  padding-left: 0rem;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
  display: none;
}
header h2{
  color: #222;
}
header label span{
  font-size: 1.7rem;
  padding-right: 1rem;
}
.search-wrapper{
  border:1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.search-wrapper input{
  height: 40px;
  padding: .5rem;
  border: none;
  outline: none;
}

.user-wrapper{
  display: flex;
  align-items: center;
}
.user-wrapper img{
  border-radius: 50%;
  margin-right: .1rem;
}
.user-wrapper h4{
  margin-bottom: 0rem !important;
}
.user-wrapper small{
  display: inline-block;
  color: var(--text-grey);
  margin-top: -10px !important;
}

main{
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh- 90px);
}

.cards{
  display: grid;
  grid-template-columns: (4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card-single{
  /* display: flex; */
  /* justify-content: space-between; */
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
  flex-direction: column;

}
.card-single div:last-child span{
  font-size: 3rem;
  color: var(--main-color);
  color: #292839;
}
.card-single span:first-child{
  color: var(--text-grey);
}
.card-single:last-child h1,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span{
  color: rgb(3, 1, 1);
}
/* busca de grupos */
.search-group{
  border:1px solid #ccc;
  border-radius: 25px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  /* margin-top: 15px; */
}
.search-group span{
  display: inline-block;
  padding: 0rem 1rem;
  /* font-size: 1.5rem; */
}
.search-group input{
  width: 885px; /*922-1200*/
  height: 30px;
  padding: .5rem;
  border: none;
  outline: none;
  font-size: 2rem;
}
.card-single .input-group{
  padding-top: 10px;
}
.card-sigle-title{
  display: flex;
  justify-content: space-between;
}
.btn-search{
  font-size: 35px;
}


/* segunda parte */
.recent-grid{
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 100% auto;
}
.card{
  background: #fff;
  border-radius: 7px;
}
.card-header,
.card-body{
  padding: 1.1rem;
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
/* .card-body{
  padding: 1.1rem;
  align-items: center;
} */
.card-header button{
  /* alterar para cor da variavel */
  background: #292839;
  border-radius: 7px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid #292839;
}
table{
  border-collapse: collapse;

}
.titles {
  border: 1px solid #999999 !important;
  border-bottom: 2px solid #999999 !important;
}
thead td{
  font-weight: 700;
}
tr td:last-child{
  align-items: center;
}
td{
  padding: .5rem 1rem;
  border-bottom: 1px solid #999999;
  color: #222;
}
.icon-action{
  right: 100%;
}

/* icones de ação*/
td span{
  font-size: 1.25rem;
  display: inline-block;
  margin-left: .5rem;
}

.table-responsive{
  width: 100%;
  overflow-x: auto;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 960px) {
  .cards{
    grid-template-columns: repeat(3, 1fr);
  }
  .recent-grid{
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid{
    grid-template-columns: 100%;
  }
  .search-wrapper{
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .cards{
    grid-template-columns: 100%;
  }
}
