<main>
  <div class="cards"></div>
  <div class="card-single">  <!--class="card-single"-->
    <div class="card-sigle-title">
      <h2>Grupos</h2>
      <div>
        <span class="las la-users"></span>
      </div>
      </div>
      <!-- <div class="input-group mb-3">
        <input type="search" class="form-control" placeholder=" Digite o nome do grupo">
        <button class="submit" id="basic-addon2"><i class="las la-search fa-xs btn-search"></i></button>
      </div> -->
      <div class="search-group">
        <span class="las la-search">
          <input type="search" placeholder=" Digite o nome do grupo">
        </span>
      </div>

    </div>
<!-- TABELA -->
<div class="recent-grid">
  <div class="projects">
    <div class="card">
      <div class="card-header">
          <h3><p>empresa works!</p></h3>
          <button><span class="las la-plus-circle">
          </span> Novo Grupo </button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table width="100%" class="">
            <thead>
              <tr class="titles" >
                <td>Nome</td>
                <td>Projeto</td>
                <td class="icon-action"></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Empresa of Empresa">
                <td>{{Empresa.nome}}</td>
                <td>{{Empresa.projeto}}</td>
                <td class="float-right">
                  <span class="las la-file-pdf"></span>
                  <span class="las la-pen"></span>
                  <span class="las la-trash-alt"></span>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
</div>
