/* main */
main{
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh- 90px);
}

.cards{
  display: grid;
  grid-template-columns: (4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card-single{
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
  flex-direction: column;

}
.card-single div:last-child span{
  font-size: 3rem;
  color: var(--main-color);
  color: #292839;
}
.card-single span:first-child{
  color: var(--text-grey);
}
.card-single:last-child h1,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span{
  color: rgb(3, 1, 1);
}
/* busca de grupos */
.search-group{
  border:1px solid #ccc;
  border-radius: 25px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  /* margin-top: 15px; */
}
.search-group span{
  display: inline-block;
  padding: 0rem 1rem;
  /* font-size: 1.5rem; */
}
.search-group input{
  width: 884px; /*922-1200*/
  height: 30px;
  padding: .5rem;
  border: none;
  outline: none;
  font-size: 2rem;
}
.card-single .input-group{
  padding-top: 10px;
}
.card-sigle-title{
  display: flex;
  justify-content: space-between;
}
.btn-search{
  font-size: 35px;
}



/* TABELA */
.recent-grid{
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 100% auto;
}
.card{
  background: #fff;
  border-radius: 7px;
}
.card-header,
.card-body{
  padding: 1.1rem;
}
.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
/* .card-body{
  padding: 1.1rem;
  align-items: center;
} */
.card-header button{
  /* alterar para cor da variavel */
  background: #292839;
  border-radius: 7px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid #292839;
}
table{
  border-collapse: collapse;

}
.titles {
  border: 1px solid #999999 !important;
  border-bottom: 2px solid #999999 !important;
}
thead td{
  font-weight: 700;
}
tr td:last-child{
  align-items: center;
}
td{
  padding: .5rem 1rem;
  border-bottom: 1px solid #999999;
  color: #222;
}
.icon-action{
  right: 100%;
}

/* icones de ação*/
td span{
  font-size: 1.25rem;
  display: inline-block;
  margin-left: .5rem;
}

.table-responsive{
  width: 100%;
  overflow-x: auto;
}
