<div class="container">
  <div class="p-grid">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="p-col-12">
        <h1>Disciplinas</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="p-col-12 p-fluid">
        <label>Curso</label>
        <input pInputText type="text" name="curso" [(ngModel)]="filtro.curso">
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="disciplinas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
        [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma disciplina encontrado
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Descrição</th>
            <th>Curso</th>
            <th class="col-data-header">Data Cadastro</th>
            <th class="col-data-header">Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-disciplina>
          <tr>
            <td>
              <span class="p-column-title">Descrição</span>
              {{ disciplina.descricao }}
            </td>
            <td>
              <span class="p-column-title">Curso</span>
              {{ disciplina.curso }}
            </td>
            <td class="col-data">
              <span class="p-column-title">Data Cadastro</span>
              {{ disciplina.dataCadastro | date:'dd/MM/yyyy' }}
            </td>
            <td>
              <span class="p-column-title">Status</span>
              <a href="javascript:;" [pTooltip]="disciplina.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top">
                {{ disciplina.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <span class="p-column-title"></span>
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/lancamentos', disciplina.codigo]"></a>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(disciplina)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
